/* Text Properties */
.text-headline {
    font-family: var(--headline-text-family);
    font-weight: var(--headline-text-weight);
}

/* Buttons */
.button-yellow {
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--yellow);
    color: var(--green);
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: var(--border-radius-small);
}

.button-green {
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--green);
    color: var(--yellow);
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: var(--border-radius-small);
}

.button-yellow:hover, .button-green:hover {
    transform: scale(1.1);
}

.button-yellow:active, .button-green:active {
    transform: scale(1);
}

/* Links */
.link {
    text-decoration: none;
    color: var(--black);
    font-size: 1.5rem;
    font-weight: var(--bold-text-weight);
}

.link:hover {
    color: var(--yellow);
}

.link-in-button-yellow {
    text-decoration: none;
    color: var(--green);
    font-size: 1rem;
    font-weight: var(--bold-text-weight);
    border-radius: var(--border-radius-small);
    padding: .75rem;
    background-color: var(--yellow);
}

.link-in-button-green {
    text-decoration: none;
    color: var(--yellow);
    font-size: 1rem;
    font-weight: var(--bold-text-weight);
    border-radius: var(--border-radius-small);
    padding: .75rem;
    background-color: var(--green);
}

.link-in-button-yellow:hover, .link-in-button-green:hover {
    color: var(--black);
}


