footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: var(--padding-inner);
    justify-content: space-around;
    background-color: var(--green);
    margin: var(--margin-outer) 0;
}

footer > * {
    margin: var(--margin-inner) 0;
}

footer img {
    max-width: 15vmin;
    height: 15vmin;
    object-fit: cover;
    margin: auto 0;
    flex-grow: 1;
}

#footer-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 2;
}

 #footer-info div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

#footer-info div > * {
    margin: 0.2rem 0;
}

footer h4 {
    font-size: 1.5rem;
    color: var(--yellow);
    font-weight: var(--bold-text-weight);
}

footer p {
    color: var(--white);
}

.footer-link {
    font-size: 1.25rem;
    color: var(--white);
}

.footer-nav > ul {
    list-style-type: none;
}

/* md screen */
@media (width >= 768px) {
    footer {
        flex-direction: row;
    }
}